body {
    background-color:#444445;
     }
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #fafafa;
    }

 p {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size:30px;
    font-style: normal;
    color: #3f9e96;
 }