<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Random Name Website</title>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh"  content="30, url=http://127.0.0.1:80/">
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>

<body>
    <h1>A website with random character names!</h1>
        <p>Here is your random character name!</p>
    <h1>{{ character_name }}</h1>
        <p>This will refresh in 30 seconds!</p>

</body>
</html>